<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket Logs</title>
</head>
<body>
    <h1>Logs en temps réel</h1>
    <ul id="log-list"></ul>

    <script>
        const logSocket = new WebSocket('ws://127.0.0.1:8000/ws/logs/');

        logSocket.onopen = function(e) {
            console.log('Connexion WebSocket établie');
        };

        logSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const logMessage = data.message;

            const logItem = document.createElement('li');
            logItem.textContent = logMessage;
            document.getElementById('log-list').appendChild(logItem);
        };

        logSocket.onerror = function(e) {
            console.error('Erreur WebSocket:', e);
        };

        logSocket.onclose = function(e) {
            console.error('WebSocket fermé');
        };
    </script>
</body>
</html>
